<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @recipient_name %>様、<%= @user_name %>様から新しいメッセージが届いています。</h1>
    <p>
      以下のメッセージを受信しました：<br>
      <%= @user_message %><br>
    </p>
  </body>
</html>
